<nav class="top-nav">
    <div class="container">
      <a href="{{ url_for('main.home') }}" class="logo">PetPocket</a>
      <!-- <div class="search-bar">
        <input type="text" placeholder="Search for pets, products...">
        <button type="submit">
          <span class="material-symbols-outlined">search</span>
        </button>
      </div> -->
      <div class="nav-icons">
        <a href="{{ url_for('main.search') }}">
          <span class="material-symbols-outlined">search</span>
        </a>
        <a href="{{ url_for('main.wishlist') }}">
          <span class="material-symbols-outlined">favorite</span>
        </a>
        <a href="{{ url_for('main.cart') }}" class="cart-icon{% if cart_count > 0 %} cart-has-items{% endif %}">
          <span class="material-symbols-outlined">shopping_cart</span>
          {% if cart_count > 0 %}
            <span class="cart-badge">{{ cart_count }}</span>
          {% endif %}
        </a>
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('main.profile') }}" class="profile-btn">
            <span class="material-symbols-outlined">person</span>
          </a>
        {% else %}
          <a href="{{ url_for('main.signin') }}" class="login-signup">Login/Signup</a>
        {% endif %}
      </div>
    </div>
  </nav>